@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:focus-visible {
  outline: 2px solid var(--color-blue-700);
  outline-offset: 2px;
}

.dark :focus-visible {
  outline-color: var(--color-blue-300);
}
